@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

.navbar {
    background-color: white !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
}

.brand-name {
    font-size: 3rem !important;
    color: #565387 !important;
    font-weight: bold;
}

.navbar a {
    font-size: 1.3rem !important;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px #565387;
}

.navbar a:hover {
    color: #3498db !important;
}

#header{
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1{
    font-size: 40px;
    color: black;
}

#header h2 {
    font-size: 24px;
    color: #626262;
}

.header-img{
    text-align: center;
}
#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }
}
